In [1]:
import json
import pandas as pd
import numpy as np
import re
from sqlalchemy import create_engine
import time
from config import db_password

In [6]:
# read csv
df1= pd.read_csv('../Data/Life_Expectancy.csv')
df2=pd.read_csv('../Data/who_suicide_statistics_2000-2015.csv')
df1

,country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,pop,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,68.0,31,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.000000,7.0,998,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,73.0,304,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,76.0,529,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

In [7]:
# show column df1
df1.columns

Index(['country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'pop',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

In [13]:
df1.rename(columns={"country":"Country","Life expectancy ":"Life_Expectancy","Adult Mortality":"Adult_Mortality",
                   "infant deaths":"Infant_Deaths","percentage expenditure":"Percentage_Exp","Hepatitis B":"HepatitisB",
                  "Measles ":"Measles"," BMI ":"BMI","under-five deaths ":"Under_Five_Deaths","Diphtheria ":"Diphtheria",
                  " HIV/AIDS":"HIV/AIDS"," thinness  1-19 years":"thinness_1to19_years"," thinness 5-9 years":"thinness_5to9_years","Income composition of resources":"Income_Comp_Of_Resources",
                   "Total expenditure":"Tot_Exp"},inplace=True)

In [14]:
df2.style.set_precision(0)
df2=df2.rename(columns={'Row Labels':'Country','year': 'Year','Sum of suicides_no':'Suicides'})

In [15]:
df2

                   Country    Year   Suicides
0                  Albania     NaN        NaN
1                  Albania  2000.0       54.0
2                  Albania  2001.0      119.0
3                  Albania  2002.0      133.0
4                  Albania  2003.0      124.0
...                    ...     ...        ...
1922  Virgin Islands (USA)  2010.0        8.0
1923  Virgin Islands (USA)  2011.0        8.0
1924  Virgin Islands (USA)  2012.0       10.0
1925  Virgin Islands (USA)  2015.0        3.0
1926           Grand Total     NaN  3862202.0

[1927 rows x 3 columns]

In [16]:
# Merge df1 and df2 
df3 = pd.merge(df1, df2, how='left', on=['Country', 'Year'])

In [17]:
df3.loc[df3['Country']=='Albania']

,Country,Year,Status,Life_Expectancy,Adult_Mortality,Infant_Deaths,Alcohol,Percentage_Exp,HepatitisB,Measles,...,pop,Diphtheria,HIV/AIDS,GDP,Population,thinness_1to19_years,thinness_5to9_years,Income_Comp_Of_Resources,Schooling,Suicides
16,Albania,2015,Developing,77.8,74.0,0,4.60,364.975229,99.0,0,...,6.00,99.0,0.1,3954.227830,28873.0,1.2,1.3,0.762,14.2,NaN
17,Albania,2014,Developing,77.5,8.0,0,4.51,428.749067,98.0,0,...,5.88,98.0,0.1,4575.763787,288914.0,1.2,1.3,0.761,14.2,NaN
18,Albania,2013,Developing,77.2,84.0,0,4.76,430.876979,99.0,0,...,5.66,99.0,0.1,4414.723140,289592.0,1.3,1.4,0.759,14.2,NaN
19,Albania,2012,Developing,76.9,86.0,0,5.14,412.443356,99.0,9,...,5.59,99.0,0.1,4247.614380,2941.0,1.3,1.4,0.752,14.2,NaN
20,Albania,2011,Developing,76.6,88.0,0,5.37,437.062100,99.0,28,...,5.71,99.0,0.1,4437.178680,295195.0,1.4,1.5,0.738,13.3,NaN
21,Albania,2010,Developing,76.2,91.0,1,5.28,41.822757,99.0,10,...,5.34,99.0,0.1,494.358832,291321.0,1.4,1.5,0.725,12.5,96.0
22,Albania,2009,Developing,76.1,91.0,1,5.79,348.055952,98.0,0,...,5.79,98.0,0.1,4114.136545,2927519.0,1.5,1.6,0.721,12.2,0.0
23,Albania,2008,Developing,75.3,1.0,1,5.61,36.622068,99.0,0,...,5.87,99.0,0.1,437.539647,2947314.0,1.6,1.6,0.713,12.0,160.0
24,Albania,2007,Developing,75.9,9.0,1,5.58,32.246552,98.0,22,...,6.10,98.0,0.1,363.136850,29717.0,1.6,1.7,0.703,11.6,124.0
25,Albania,2006,Developing,74.2,99.0,1,5.31,3.302154,98.0,68,...,5.86,97.0,0.1,35.129300,2992547.0,1.7,1.8,0.696,11.4,0.0
26,Albania,2005,Developing,73.5,15.0,1,5.16,26.993121,98.0,6,...,6.12,98.0,0.1,279.142931,311487.0,1.8,1.8,0.685,10.8,0.0
27,Albania,2004,Developing,73.0,17.0,1,4.54,221.842800,99.0,7,...,6.38,97.0,0.1,2416.588235,326939.0,1.8,1.9,0.681,10.9,146.0
28,Albania,2003,Developing,72.8,18.0,1,4.29,14.719289,97.0,8,...,6.27,97.0,0.1,189.681557,339616.0,1.9,2.0,0.674,10.7,124.0
29,Albania,2002,Developing,73.3,15.0,1,3.73,104.516916,96.0,16,...,6.30,98.0,0.1,1453.642777,3511.0,2.0,2.1,0.670,10.7,133.0
30,Albania,2001,Developing,73.6,14.0,1,4.25,96.205571,96.0,18,...,6.00,97.0,0.1,1326.973390,36173.0,2.1,2.1,0.662,10.6,119.0
31,Albania,2000,Developing,72.6,11.0,1,3.66,91.711541,96.0,662,...,6.26,97.0,0.1,1175.788981,38927.0,2.1,2.2,0.656,10.7,54.0

In [18]:
df3.describe()

,Year,Life_Expectancy,Adult_Mortality,Infant_Deaths,Alcohol,Percentage_Exp,HepatitisB,Measles,BMI,Under_Five_Deaths,...,pop,Diphtheria,HIV/AIDS,GDP,Population,thinness_1to19_years,thinness_5to9_years,Income_Comp_Of_Resources,Schooling,Suicides
count,2938.000000,2928.000000,2928.000000,2938.000000,2744.000000,2938.000000,2385.000000,2938.000000,2904.000000,2938.000000,...,2712.00000,2919.000000,2938.000000,2490.000000,2.286000e+03,2904.000000,2904.000000,2771.000000,2775.000000,1424.000000
mean,2007.518720,69.224932,164.796448,30.303948,4.602861,738.251295,80.940461,2419.592240,38.321247,42.035739,...,5.93819,82.324084,1.742103,7483.158469,1.275338e+07,4.839704,4.870317,0.627551,11.992793,2623.733848
std,4.613841,9.523867,124.292079,117.926501,4.052413,1987.914858,25.070016,11467.272489,20.044034,160.445548,...,2.49832,23.716912,5.077785,14270.169342,6.101210e+07,4.420195,4.508882,0.210904,3.358920,6749.523439
min,2000.000000,36.300000,1.000000,0.000000,0.010000,0.000000,1.000000,0.000000,1.000000,0.000000,...,0.37000,2.000000,0.100000,1.681350,3.400000e+01,0.100000,0.100000,0.000000,0.000000,0.000000
25%,2004.000000,63.100000,74.000000,0.000000,0.877500,4.685343,77.000000,0.000000,19.300000,0.000000,...,4.26000,78.000000,0.100000,463.935626,1.957932e+05,1.600000,1.500000,0.493000,10.100000,78.750000
50%,2008.000000,72.100000,144.000000,3.000000,3.755000,64.912906,92.000000,17.000000,43.500000,4.000000,...,5.75500,93.000000,0.100000,1766.947595,1.386542e+06,3.300000,3.300000,0.677000,12.300000,499.500000
75%,2012.000000,75.700000,228.000000,22.000000,7.702500,441.534144,97.000000,360.250000,56.200000,28.000000,...,7.49250,97.000000,0.800000,5910.806335,7.420359e+06,7.200000,7.200000,0.779000,14.300000,1859.500000
max,2015.000000,89.000000,723.000000,1800.000000,17.870000,19479.911610,99.000000,212183.000000,87.300000,2500.000000,...,17.60000,99.000000,50.600000,119172.741800,1.293859e+09,27.700000,28.600000,0.948000,20.700000,56958.000000

In [19]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2938 entries, 0 to 2937
Data columns (total 23 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Country                   2938 non-null   object
 1   Year                      2938 non-null   int64
 2   Status                    2938 non-null   object
 3   Life_Expectancy           2928 non-null   float64
 4   Adult_Mortality           2928 non-null   float64
 5   Infant_Deaths             2938 non-null   int64
 6   Alcohol                   2744 non-null   float64
 7   Percentage_Exp            2938 non-null   float64
 8   HepatitisB                2385 non-null   float64
 9   Measles                   2938 non-null   int64
 10  BMI                       2904 non-null   float64
 11  Under_Five_Deaths         2938 non-null   int64
 12  Polio                     2919 non-null   float64
 13  pop                       2712 non-null   float64
 14  Diphtheria                2919 non-null   float64
 15  HIV/AIDS                  2938 non-null   float64
 16  GDP                       2490 non-null   float64
 17  Population                2286 non-null   float64
 18  thinness_1to19_years      2904 non-null   float64
 19  thinness_5to9_years       2904 non-null   float64
 20  Income_Comp_Of_Resources  2771 non-null   float64
 21  Schooling                 2775 non-null   float64
 22  Suicides                  1424 non-null   float64
dtypes: float64(17), int64(4), object(2)
memory usage: 550.9+ KB

In [20]:
df3.isnull().sum()*100/df3.isnull().count()

Country                      0.000000
Year                         0.000000
Status                       0.000000
Life_Expectancy              0.340368
Adult_Mortality              0.340368
Infant_Deaths                0.000000
Alcohol                      6.603131
Percentage_Exp               0.000000
HepatitisB                  18.822328
Measles                      0.000000
BMI                          1.157250
Under_Five_Deaths            0.000000
Polio                        0.646698
pop                          7.692308
Diphtheria                   0.646698
HIV/AIDS                     0.000000
GDP                         15.248468
Population                  22.191967
thinness_1to19_years         1.157250
thinness_5to9_years          1.157250
Income_Comp_Of_Resources     5.684139
Schooling                    5.547992
Suicides                    51.531654
dtype: float64

In [25]:
#drop null values
df3.dropna(inplace=True)

In [26]:
df3.isnull().sum()

Country                     0
Year                        0
Status                      0
Life_Expectancy             0
Adult_Mortality             0
Infant_Deaths               0
Alcohol                     0
Percentage_Exp              0
HepatitisB                  0
Measles                     0
BMI                         0
Under_Five_Deaths           0
Polio                       0
pop                         0
Diphtheria                  0
HIV/AIDS                    0
GDP                         0
Population                  0
thinness_1to19_years        0
thinness_5to9_years         0
Income_Comp_Of_Resources    0
Schooling                   0
Suicides                    0
dtype: int64

In [27]:
df3

,Country,Year,Status,Life_Expectancy,Adult_Mortality,Infant_Deaths,Alcohol,Percentage_Exp,HepatitisB,Measles,...,pop,Diphtheria,HIV/AIDS,GDP,Population,thinness_1to19_years,thinness_5to9_years,Income_Comp_Of_Resources,Schooling,Suicides
21,Albania,2010,Developing,76.2,91.0,1,5.28,41.822757,99.0,10,...,5.34,99.0,0.1,494.358832,291321.0,1.4,1.5,0.725,12.5,96.0
22,Albania,2009,Developing,76.1,91.0,1,5.79,348.055952,98.0,0,...,5.79,98.0,0.1,4114.136545,2927519.0,1.5,1.6,0.721,12.2,0.0
23,Albania,2008,Developing,75.3,1.0,1,5.61,36.622068,99.0,0,...,5.87,99.0,0.1,437.539647,2947314.0,1.6,1.6,0.713,12.0,160.0
24,Albania,2007,Developing,75.9,9.0,1,5.58,32.246552,98.0,22,...,6.10,98.0,0.1,363.136850,29717.0,1.6,1.7,0.703,11.6,124.0
25,Albania,2006,Developing,74.2,99.0,1,5.31,3.302154,98.0,68,...,5.86,97.0,0.1,35.129300,2992547.0,1.7,1.8,0.696,11.4,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2832,Uzbekistan,2009,Developing,68.0,183.0,21,2.56,92.814798,98.0,0,...,6.31,98.0,0.2,1213.265328,277674.0,3.1,3.1,0.651,11.8,1399.0
2836,Uzbekistan,2005,Developing,67.3,192.0,24,1.78,40.133421,99.0,737,...,5.11,99.0,0.3,546.776852,26167.0,3.2,3.2,0.620,11.7,1221.0
2837,Uzbekistan,2004,Developing,67.8,183.0,24,1.59,34.418872,99.0,75,...,5.11,99.0,0.3,465.119887,2586435.0,3.2,3.2,0.613,11.6,1251.0
2838,Uzbekistan,2003,Developing,67.2,183.0,25,1.54,28.521358,99.0,85,...,5.17,98.0,0.3,396.129969,2556765.0,3.3,3.3,0.607,11.3,1416.0
2839,Uzbekistan,2002,Developing,67.1,186.0,27,1.47,24.994387,62.0,25,...,5.44,99.0,0.2,383.349500,2527185.0,3.3,3.3,0.600,11.0,1576.0

In [28]:
df3['Suicides'] = df3['Suicides'].div(1000).round(1)

In [29]:
df3

,Country,Year,Status,Life_Expectancy,Adult_Mortality,Infant_Deaths,Alcohol,Percentage_Exp,HepatitisB,Measles,...,pop,Diphtheria,HIV/AIDS,GDP,Population,thinness_1to19_years,thinness_5to9_years,Income_Comp_Of_Resources,Schooling,Suicides
21,Albania,2010,Developing,76.2,91.0,1,5.28,41.822757,99.0,10,...,5.34,99.0,0.1,494.358832,291321.0,1.4,1.5,0.725,12.5,0.1
22,Albania,2009,Developing,76.1,91.0,1,5.79,348.055952,98.0,0,...,5.79,98.0,0.1,4114.136545,2927519.0,1.5,1.6,0.721,12.2,0.0
23,Albania,2008,Developing,75.3,1.0,1,5.61,36.622068,99.0,0,...,5.87,99.0,0.1,437.539647,2947314.0,1.6,1.6,0.713,12.0,0.2
24,Albania,2007,Developing,75.9,9.0,1,5.58,32.246552,98.0,22,...,6.10,98.0,0.1,363.136850,29717.0,1.6,1.7,0.703,11.6,0.1
25,Albania,2006,Developing,74.2,99.0,1,5.31,3.302154,98.0,68,...,5.86,97.0,0.1,35.129300,2992547.0,1.7,1.8,0.696,11.4,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2832,Uzbekistan,2009,Developing,68.0,183.0,21,2.56,92.814798,98.0,0,...,6.31,98.0,0.2,1213.265328,277674.0,3.1,3.1,0.651,11.8,1.4
2836,Uzbekistan,2005,Developing,67.3,192.0,24,1.78,40.133421,99.0,737,...,5.11,99.0,0.3,546.776852,26167.0,3.2,3.2,0.620,11.7,1.2
2837,Uzbekistan,2004,Developing,67.8,183.0,24,1.59,34.418872,99.0,75,...,5.11,99.0,0.3,465.119887,2586435.0,3.2,3.2,0.613,11.6,1.3
2838,Uzbekistan,2003,Developing,67.2,183.0,25,1.54,28.521358,99.0,85,...,5.17,98.0,0.3,396.129969,2556765.0,3.3,3.3,0.607,11.3,1.4
2839,Uzbekistan,2002,Developing,67.1,186.0,27,1.47,24.994387,62.0,25,...,5.44,99.0,0.2,383.349500,2527185.0,3.3,3.3,0.600,11.0,1.6

In [33]:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Project"

In [34]:
engine = create_engine(db_string)

In [36]:
df3.to_sql(name='final_project', con=engine)